#movalio-popover-container {
  font-size: 14px;
  position: fixed;
  z-index: 2258594000;
  left: 0;
  right: 0;
  -webkit-font-smoothing: initial
}

#movalio-popover-container.slide-down {
  top: 0
}

#movalio-popover-container.slide-down.close-popover #movalio-popover-dialog {
  -webkit-animation-name: slideDownExit;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideDownExit;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: forwards
}

#movalio-popover-container.slide-down #movalio-popover-dialog {
  width: 500px;
  -webkit-animation-name: slideDownEnter;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideDownEnter;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: forwards
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog {
  padding: 1.714em;
  width: 612px;
  margin-bottom: 18px
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog #blocked-popover {
  display: block
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog #normal-popover {
  display: none
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog .popover-body-message {
  padding: 0 .2em;
  text-align: center;
  width: 100%
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog .popover-body-message img {
  width: 100%
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog .popover-body-message .unblock-image {
  margin: 2em 0 .5em
}

#movalio-popover-container.slide-down #movalio-popover-dialog.blocked-dialog .popover-button.secondary {
  padding: .714em 2em
}

#movalio-popover-container #blocked-popover {
  display: none
}

#movalio-popover-container.slide-up {
  bottom: 0
}

#movalio-popover-container.slide-up.close-popover #movalio-popover-dialog {
  -webkit-animation-name: slideUpExit;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideUpExit;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: forwards
}

#movalio-popover-container.slide-up #movalio-popover-dialog {
  width: 100%;
  -webkit-animation-name: slideUpEnter;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: backwards;
  animation-name: slideUpEnter;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: backwards
}

#movalio-popover-container #movalio-popover-dialog {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px 3px rgba(0,0,0,.22)!important;
  background: #fff!important;
  padding: 1.286em;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: Roboto,Noto,Helvetica Neue,Helvetica,Arial,sans-serif
}

#movalio-popover-container #movalio-popover-dialog .popover-body {
  box-sizing: border-box;
  margin: 0
}

#movalio-popover-container #movalio-popover-dialog .popover-body-icon {
  box-sizing: border-box;
  float: left;
  width: 80px;
  height: 80px;
  position: relative
}

#movalio-popover-container #movalio-popover-dialog .popover-body-icon img {
  width: 100%;
  height: 100%
}

#movalio-popover-container #movalio-popover-dialog .popover-body-icon img.default-icon {
  width: 45px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 45px
}

#movalio-popover-container #movalio-popover-dialog .popover-body-message {
  box-sizing: border-box;
  padding: 0 .2em 0 1.286em;
  float: left;
  width: calc(100% - 80px);
  font-size: 1.143em;
  line-height: 1.45em;
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #666!important
}

#movalio-popover-container #movalio-popover-dialog button {
  box-sizing: border-box;
  display: inline-block;
  padding: .375rem 1rem;
  font-size: .9625em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-family: inherit;
  letter-spacing: .05em;
  transition: background-color 75ms ease;
  margin: 0
}

#movalio-popover-container #movalio-popover-dialog .popover-button {
  padding: .714em 2em;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 400
}

#movalio-popover-container #movalio-popover-dialog .popover-button.primary {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 6px 0 rgba(0,0,0,.12);
  background: #1165f1!important;
  color: #fff!important
}

#movalio-popover-container #movalio-popover-dialog .popover-button.primary:hover {
  background: #0c55d0
}

#movalio-popover-container #movalio-popover-dialog .popover-button.primary:active {
  background: #0a47ab
}

#movalio-popover-container #movalio-popover-dialog .popover-button.secondary {
  box-shadow: none;
  background: #fff!important;
  color: #1165f1!important
}

#movalio-popover-container #movalio-popover-dialog .popover-button.secondary:hover {
  color: #0b4cb7
}

#movalio-popover-container #movalio-popover-dialog .popover-button.secondary:active {
  color: #062861
}

#movalio-popover-container #movalio-popover-dialog .primary.popover-button+.secondary.popover-button {
  margin-right: .714em
}

#movalio-popover-container #movalio-popover-dialog .popover-footer {
  position: relative;
  margin: .25em .25em 0 0
}

#movalio-popover-container #movalio-popover-dialog .align-right {
  float: right
}

#movalio-popover-container #movalio-popover-dialog .clearfix {
  display: block;
  -webkit-backface-visibility: initial!important;
  backface-visibility: initial!important
}

#movalio-popover-container #movalio-popover-dialog .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

@keyframes slideDownEnter {
  0% {
      transform: translateY(-150%)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes slideDownExit {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(-150%)
  }
}

@keyframes slideUpEnter {
  0% {
      transform: translateY(150%)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes slideUpExit {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(150%)
  }
}